// Colors
$color-auqa-haze: #E1EEEB;
$color-black: #000000;
$color-cape-cod: #303B37;
$color-eucalyptus: #2B996D;
$color-jagged-ice: #C2E9E0;
$color-neptune: #76C0AE;
$color-outer-space: #1A1F1D;
$color-paradiso: #307E6C;
$color-riptide: #83E6C0;
