// Font families
$font-family-primary: 'Quicksand', sans-serif;
$font-family-secondary: 'Roboto Condensed', sans-serif;

// Font sizes
$font-size-xs: 0.5rem;
$font-size-sm: 0.7rem;
$font-size-md: 0.85rem;
$font-size-lg: 1rem;
$font-size-xl: 1.5rem;
